* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.nav-item {
	justify-content: center;
	align-content: center;
	align-items: center;
}

.navbar-light .navbar-nav .nav-link {
	color: #86B87D;
	font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active {
	color: #86B87D;
	font-weight: bold;
}

.container1{
	height: 200px;
	background-color: #86B78D;
}

.container2{
	background-color: #f1f1f1;
}

.citat{
	font-style: oblique;
	text-align: center;
	padding-top: 80px;
	font-size: xx-large;
	color: white;
}

.bgbillede{
	padding-top: 50px;
	background-image: url("../images/WEBPAGE_CAROUSEL_COFFEE_SUB-1600x600.jpg"); /* The image used */
	height: 500px;
	width: 100%;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.tflogo{
	height: 200px;
	width: 200px;
	margin: 0 auto;
}

.billede-knap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: hsla(0,0%,100%,.95);
	border: none;
	color: #000000;
	display: inline-block;
	min-width: 260px;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.25;
	transition: all .25s ease-in;
	font-family: "Nunito Sans", sans-serif;
}

.billede-knap:hover {
	color: #86B87D;
}

.container-fluid1{
	text-align: center;
	font-weight: bolder;
}

@media screen and (max-width: 390px) {
	.billede-knap {
		min-width: 100px;
		padding: 10px 5px;
	}

	.container {
		max-width: 390px;
	}

	.container1 {
		height: 250px;
	}

	.citat {
		padding-top: 35px;
	}

	.navbar-logo {
		width: 65px;
	}
}

@media screen and (max-width: 768px) {
	.billede-knap {
		min-width: 100px;
		padding: 10px 5px;
	}

	.container {
		max-width: 768px;
	}
	.navbar-logo {
		width: 75px;
	}
}

@media screen and (max-width: 985px) {

	.navbar-logo {
		width: 85px;
	}
}



